
/*=============================================================================
  ***************************************************************************
  
  Table of contents

  1. Global - Lines 48 - 90

  2. Typography - Lines 91 - 118

  3. Header - Lines 119 - 134

  4. About - Lines 135 - 150 & 277 - 289

  5. Countdown - Lines 151 - 167

  6. Meet The Team - Lines 168 - 182 & 290 - 302

  7. Get Notified - Lines 183 - 197

  8. Footer - Lines 198 - 215 & 240 - 252

  9. Background Images - Lines 310 - 330

  ***************************************************************************
=============================================================================*/


#header.background-bootcamp{
  background: url('../images/bootcamp-bkg.png') no-repeat center top;
  width: auto;
  height: auto;
  display: block;
  max-width: 100%;
  max-height: 595px
  padding-top: 0px;
}


.titulo-servicios{
  font-weight: 700;
  color: #0E2F3C;
  font-size: 46px;
  font-family: "Helvetica Neue"
}

.texto-servicios{
  font-weight: bold;
  color: #08C2BC;
  font-size: 36px;
}

.p-servicios{
  font-weight: normal;
  color: #000000;
  font-size: 26px;
}

.btn-flat-bootcamp { border: 2px solid #fff; color: #fff; background: rgba(8,194,188,1);margin-top: 30px}

.mask-servicios { width: 126px; height: 126px; margin: 0 auto 20px auto; overflow: hidden;}

.aprende-icon { width: 126px; height: 126px; margin: 0 auto 20px auto; padding: 5px; border-radius: 10%; background-color: #41AFC1;}
.rotate-icon {-webkit-transform: rotate(45deg) skew(10deg, 10deg)}
.aprende-icon span { width: 100%; height: 100%; border: 2px solid #fff; color: #fff; font-size: 40px; line-height: 112px;}

.servicios-contactar {
  background-color: #2DBCBD;
}

.servicios-cuadros {
  padding-bottom: 0px;
  padding-top: 0px;
}

.overlay-bootcamp { 
  padding: 100px 0px 0px;
}

/*=============================================================================
  ***************************************************************************
  Cuadros 
  ***************************************************************************
=============================================================================*/

.imagen1-bootcamp { background-color: #323B44; height: 475px; display: block; padding-top:67.5px;}
.cuadro1-bootcamp { background-color: #323B44; height: 475px; display: block;}

.imagen2-bootcamp { background-color: #323B44; height: 475px; display: block; padding-top:67.5px;}
.cuadro2-bootcamp { background-color: #323B44; height: 475px; display: block;}

.imagen3-bootcamp { background-color: #323B44; height: 475px; display: block; padding-top:67.5px;}
.cuadro3-bootcamp { background-color: #323B44; height: 475px; display: block;}

.circle1 {
  width: 340px;
  height: 340px;
  background: #21D8DE;
  -moz-border-radius: 170px;
  -webkit-border-radius: 170px;
  border-radius: 170px;
  display: inline-block;
}

.bootcamp-innovacion{
  margin-top: 40px;
  margin-left: 40px;
}

.hero1 {
  width: 100%;
  position: relative;
  background-image: url("../images/bootcamp-imagen1c.png");
  background-size: cover;
  height: 340px;
}

.circle2 {
  width: 340px;
  height: 340px;
  background: #28B4E0;
  -moz-border-radius: 170px;
  -webkit-border-radius: 170px;
  border-radius: 170px;
  display: inline-block;
}

.hero2 {
  width: 100%;
  position: relative;
  background-image: url("../images/bootcamp-imagen2c.png");
  background-size: cover;
  height: 340px;
}

.circle3 {
  width: 340px;
  height: 340px;
  background: #FD8469;
  -moz-border-radius: 170px;
  -webkit-border-radius: 170px;
  border-radius: 170px;
  display: inline-block;
}

.hero3 {
  width: 100%;
  position: relative;
  background-image: url("../images/bootcamp-imagen3c.png");
  background-size: cover;
  height: 340px;
}

.titulo-cuadro-programa{
  font-size: 50px;
  line-height: 50px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.titulo-cuadro{
  font-size: 50px;
  line-height: 50px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.titulo-cuadro-bootcamp{
  font-size: 30px;
  line-height: 30px;
  color: #21D8DE;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.subtitulo-cuadro{
  font-size: 32px;
  line-height: 40px;
  color: #08C2BC;
  font-weight: lighter;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.texto-cuadro-bootcamp{
  font-size: 26px;
  line-height: 30px;
  color: #0E2F3C;
  font-weight: lighter;
  margin-bottom: 15px;
  left: 50px;
  text-indent: 0.5em;
}

.texto-cuadro-programa{
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;
  font-weight: lighter;
  margin-bottom: 15px;
  left: 50px;
  text-indent: 0.5em;
}

.texto-cuadro-programa:before{
  border-top: 2px solid #E76E51;
  width: 40px;
  margin-top:14px;
  content: "";
  float:left;
  display: inline-block;
}

.texto-cuadro{
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;
  font-weight: lighter;
  margin-bottom: 15px;
  left: 50px;
  text-indent: 0.5em;
}

.texto-cuadro:before{
  border-top: 2px solid #E76E51;
  width: 40px;
  margin-top:14px;
  content: "";
  float:left;
  display: inline-block;
}

.temario{
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.image-center{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.texto-temario{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: 300;
  font-family: "Helvetica Neue";
  text-align: center;
}

.titulo-temario{
  font-size: 25px;
  line-height: 25px;
  color: #21D8DE;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}


.email{
  color:white;
}

.overlay-servicios { 
  padding: 100px 0;
  width: 100%; 
  height: 100%;
}

/*=============================================================================
  ***************************************************************************
  Nav bar Gonzalo Prueba 1
  ***************************************************************************
=============================================================================*/


.img-responsive {
    height: auto;
    width: auto;
    max-height: 40px;
    max-width: 213px;
    line-height: 50px; 
    padding-top: 5px;
}


.navbar{
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar-brand {
    font-size: 24px;
    padding-top: 0px;
    margin-left: 10px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.nav.navbar-nav.navbar-right li a {
    color: #23272D;
    padding-top: 5px;
}

nav.compact .nav.navbar-nav.navbar-right li a {
    color: white;
    padding-top: 15px;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: rgba(35,39,45,.8);
    border-color: rgba(35,39,45);
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.icon-bar{
  background-color: black;
}

nav.compact .navbar-toggle.collapsed span {
    background-color: white;
}

.content {
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  .cuadro1-bootcamp{
    order: 1;
    -webkit-order: 1;
    width:100%;
  }
  .imagen1-bootcamp{
    order: 2;
    -webkit-order: 2;
    width:100%;
  }
  .cuadro2-bootcamp{
    order: 3;
    -webkit-order: 3;
    width:100%;
  }
  .imagen2-bootcamp{
    order: 4;
    -webkit-order: 4;
    width:100%;
  }
  .cuadro3-bootcamp{
    order: 5;
    -webkit-order: 5;
    width:100%;
  }
  .imagen3-bootcamp{
    order: 6;
    -webkit-order: 6;
    width:100%;
  }

  .texto-cuadro-programa{
    padding-top: 25px;
  }
  .texto-cuadro{
    padding-top: 65px;
  }
  .titulo-cuadro-programa{
    padding-top: 15px;
  }
  .titulo-cuadro{
    padding-top: 75px;
  }
}

@media screen and (min-width: 1170px) {
  .content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

